:root {
  /* Royal Blue */
  --main-color: #3277dc;
  /* Goldenrod */
  --secondary-color: #d4a418;
  /* Alabaser */
  --lite-color: #f1f1e6;
  /* Blanched Almond */ 
  --blanchedAlm-color: #ffeeca;
  /* Gold Fusion */
  --darker-color: #867555;
  /* Cadet Blue */
  --liteDark-color: #a7aabd;
}

.royalBlueBg { background-color: #3277dc; }
.goldenRodBg { background-color: #d4a418; }
.blanAlmBg { background-color: #ffeeca; }
.AlabBg { background-color: #f1f1e6; }
.gldFusnBg { background-color: #867555; }
.cadBlueBg { background-color: #a7aabd; }

/* Global Variables */

  /* Font Weight 100, 400, 700 */


a {
  color: var(--secondary-color);
  text-decoration: none;
}

body {
  background-color: var(--lite-color);
  font-family: 'Lato', sans-serif, monospace;
  color: black;
  overflow-x: hidden;
}

.smText {
  font-size: 10px;
}

.smHidden {
  display: none;
}

/* Nav */

nav {
  background-color: var(--lite-color);
}

#navbarCol li:hover {
  background-color: var(--liteDark-color);
}

#navbarCol li a:hover {
  color: var(--lite-color);
}

.heroContainer {
  position: relative;
}

.bgimage {
  width: 100%;
  height: 70vh;
  background: url(../img/landscapeBGwLogo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* fixed background will stay in place while scrolling */
  /* background-attachment: fixed; */
}

/* Text position over hero image */

.bottomLeft {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.bottomRight {
  position: absolute;
  bottom: 8px;
  right: 16px;
}


/* Media Queries */

@media (min-width: 900px) {

  .bgimage {
    width: 100%;
    height: 70vh;
    background: url(../img/heroImg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* fixed background will stay in place while scrolling */
    /* background-attachment: fixed; */
  }


  .genRep {
    text-align: center;
  }
  .genRep p {
    margin-left: auto;
    margin-right: auto;
  }


  .smHidden {
    display: flex;
  }
}