:root {
  /* Royal Blue */
  --main-color: #3277dc;
  /* Goldenrod */
  --secondary-color: #d4a418;
  /* Blanched Almond */
  --lite-color: #ffeeca;
  /* Alabaser */
  --alabaster-color: #f1f1e6;
  /* Gold Fusion */
  --darker-color: #867555;
  /* Cadet Blue */
  --liteDark-color: #a7aabd;
}

/* Font Sizes 100, 400, 700 */

body {
  background-color: var(--lite-color);
  font-family: 'Lato', sans-serif, monospace;
}

.royalBlue {
  background-color: #3277dc;
}
.goldenRod {
  background-color: #d4a418;
}
.blanAlm {
  background-color: #ffeeca;
}
.Alab { 
  background-color: #f1f1e6;
}
.gldFusn {
  background-color: #867555;
}
.cadBlue {
  background-color: #a7aabd;
}

.sqSamples {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 2rem;
  text-align: center;
}
